
.calc-row {
    height: 100vh;
    font-family: 'Share Tech Mono', monospace;
}

.input-window {
    text-align: end;
    font-size: x-large;
}
.btn btn-outline-primary form-control{

    background-color: blue;
}
.card-body {
    background-color: black;
}
